.DS_Store
# Python bytecode
__pycache__/
dual_autodiff/__pycache__/*
test/__pycache__/*
*.py[cod]

# Distribution / packaging
dist/
build/
*.egg-info/
dual_autodiff_x/src/*.egg-info/
dual_autodiff_x/build/
dual_autodiff_x/build
dual_autodiff_x/dist/
dual_autodiff_x/.pytest_cache/*
dual_autodiff_x/.eggs/
dual_autodiff_x/tests/__pycache__/*
# Virtual environments
venv/
env/
.venv/
.conda/
docs/sphinx-env/

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo

#No images
*.png 

# Testing
.pytest_cache/
.coverage

# Logs
*.log

# Environment variables
.env

# Jupyter Notebook
.ipynb_checkpoints

# Sphinx 
docs/_build
docs/_static
docs/_templates

# Wheel content
dual_autodiff_x/wheel_contents_cp310/
dual_autodiff_x/wheel_contents_cp311/

#Report
report/*.tex
report/*.synctex.gz
report/*.aux
report/*.log
report/*.lot
report/*.lof
report/*.toc
report/*.out
report/*.pytxcode
report/*.bib
report/*.bbl
report/*.blg
report/sections/*