.DS_Store
# Python bytecode
__pycache__/
test/__pycache__/*
*.py[cod]

# Distribution / packaging
dist/
build/
*.egg-info/


# Virtual environments
venv/
env/
.venv/
.conda/
docs/sphinx-env/

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo

#No images
jobs_files/data_analysis/*.png 
jobs_files/DeepFBP/*.png 
jobs_files/DeepFBP/pruebas_deepfbp/*
jobs_files/DeepFusionBP/*.png 
jobs_files/FusionFBP/*.png 

# Testing
.pytest_cache/
.coverage

# Logs
*.log

# Environment variables
.env
tomosipo_env/*
tomosipo_env/

# Jupyter Notebook
.ipynb_checkpoints

# Sphinx 
docs/_build
docs/_build/*
docs/_static
docs/_templates



#Report
report/*.tex
report/*.synctex.gz
report/*.aux
report/*.log
report/*.lot
report/*.lof
report/*.toc
report/*.out
report/*.pytxcode
report/*.bib
report/*.bbl
report/*.blg
report/sections/*

#Data
Data/*
data/*
data/
data_sino/*
data_sino/

# job submision
*.out
*.wilkes3
*.wilkes2
*.sh
Bibliografía.xlsx
machine.file.*
models/*
